html {
  overflow: hidden;
  height: 100%;
  background:
    radial-gradient(hsla(0, 70%, 43%, 0), hsla(0, 0%, 0%, 1)),
    linear-gradient(90deg, rgb(187, 30, 30) 1px, transparent 1px),
    linear-gradient(rgb(219, 70, 70) 1px, grey 1px);
  background-size:
    100%,
    2px 1px,
    1px 2px;
}

body {
  margin: 0;
  display: block;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-areas: "header " "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
  }
}

.header-military {
  grid-area: header;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

.grid-main {
  grid-area: main;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-areas: "reader" "bar" "progress" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.main-header {
  grid-area: reader;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.deatails {
  margin-top: 20px;
}

.p-deatails {
  margin-bottom: 10px;
}
.radar {
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin: 117px;
  width: 150px;
  height: 159px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    150px 150px,
    150px 150px,
    100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px;
  left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
