html {
  overflow: hidden;
  height: 100%;
  background:
    radial-gradient(hsla(0, 70%, 43%, 0), hsla(0, 0%, 0%, 1)),
    linear-gradient(90deg, rgb(24, 15, 15) 1px, transparent 1px),
    linear-gradient(rgb(27, 20, 20) 1px);
  background-size:
    100%,
    2px 1px,
    1px 2px;
}

body {
  margin: 0;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-areas: "header " "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.gray {
  color: #67626c;
}
@media (max-width: 768px) {
  .container {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
  }
}

.header-military {
  grid-area: header;
  color: #4bd871;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16121e;
}

.header-military p {
  border-radius: 50px;
  background-color: #01dc3e;
}

.header-military p:hover {
  animation: move_180 5s ease-in-out infinite;
}

@keyframes move_180 {
  to {
    transform: rotate(180deg);
    background-color: #05fc4b;
  }
}

.h4-header {
  padding: 5px 5px;
  border-radius: 20px;
  border: 1px solid #4bd871;
}

.h4-header:hover {
  animation: color_ 5s ease-in-out infinite;
}

@keyframes color_ {
  to {
    background-color: #498057;
  }
}

.grid-main {
  grid-area: main;
  color: white;
  display: grid;
  grid-template-areas: "reader" "bar" "progress" "threat";
  grid-template-columns: 100%;
  grid-template-rows: 40% 15% 23% 10%;
  grid-row: auto;
  gap: 20px;
}

.main-header {
  grid-area: reader;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  background-color: #16121e;
  border-radius: 10px;
}

.main-header:hover {
  border-radius: 10px;
  border: 1px solid #4bd871;
}

.h1-deatails {
  padding-top: 30px;
  color: #5be47a;
  padding-right: 30px;
}

.p-deatails {
  margin-bottom: 10px;
  color: #67626c;
}

.flex-below-main-header {
  grid-area: bar;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.flex-below-main-header div {
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 35px;
  border: 1px solid gray;
  padding: 10px 20px;
  background-color: #16121e;
  color: #b0b2b2;
  margin-top: -50px;
}

.flex-below-main-header div:hover {
  transform: translateY(-10px);
  border: 1px solid #05fc4b;
}

.progress {
  grid-area: progress;
  display: flex;
  border-radius: 20px;
  gap: 10px;
  margin-top: -50px;
}

.critical {
  background-color: #16121e;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px 10px;
  margin-bottom: 100px;
  border-left: 3px solid #38de63;
  border-radius: 25px;
}

.critical:hover {
  transform: translate(15px, -5px);
  border: 1px solid #05fc4b;
}
.critical div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 5px;
}

.critical div h5 {
  border-radius: 10px;
  border: 1px solid #ad366e;
  color: #ad366e;
  background-color: #401c2d;
  padding-top: 2px;
}

.hige {
  background-color: #16121e;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px 10px;
  margin-bottom: 100px;
  border-left: 3px solid #d6a437;
  border-radius: 25px;
}

.hige div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 5px;
}

.hige:hover {
  transform: translate(15px, -5px);
  border: 1px solid #05fc4b;
}

.hige div h5 {
  border-radius: 10px;
  border: 1px solid #d6a437;
  color: #d6a437;
  background-color: #401c2d;
  padding-top: 2px;
}

.medium {
  background-color: #16121e;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px 10px;
  margin-bottom: 100px;
  border-left: 3px solid #38de63;
  border-radius: 25px;
}

.medium:hover {
  transform: translate(15px, -5px);
  border: 1px solid #05fc4b;
}

.medium div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 5px;
}

.medium div h5 {
  border-radius: 10px;
  border: 1px solid #38de63;
  color: #38de63;
  background-color: #401c2d;
  padding-top: 2px;
}

.high-after-midium {
  background-color: #16121e;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px 10px;
  margin-bottom: 100px;
  border-left: 3px solid #d6a437;
  border-radius: 25px;
}
.high-after-midium:hover {
  transform: translate(15px, -5px);
  border: 1px solid #05fc4b;
}

.high-after-midium div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 5px;
}

.high-after-midium div h5 {
  border-radius: 10px;
  border: 1px solid #d6a437;
  color: #d6a437;
  background-color: #401c2d;
  padding-top: 2px;
}

.threat {
  grid-area: threat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #01dc3e;

  border: 1px solid #733346;
  background-color: #28121c;
  color: #da3d5f;
}

.threat:hover {
  transform: translateY(-15px);
  border: 1px solid #da3d5f;
}

.main-footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-footer p {
  padding-top: 0px;
}
.main-footer div .image {
  padding-left: 5px;
}

.main-footer p:hover {
  border-bottom: 5px solid white;
  border-radius: 3px;
  transform: translateY(-10px);
}
.radar {
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin: 117px;
  width: 150px;
  height: 159px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    150px 150px,
    150px 150px,
    100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px;
  left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
